.container{
    text-align: left;
    margin-top: 80px;
}

.tagLine{
    font-size: 16px;
    font-weight: 700;
    color: #4b494a;
}

.btn{
    padding: 5px;
    margin-bottom: 3px;
}

.regret{
    text-align: center;
    color: #4b494a7d;
}